.row{
    /* background-color: white; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 10px;
    align-items: center;
}
.row:hover{
    background-color: rgb(49, 48, 48);
}
.row img{
    height: 50px;
    margin: 0px 20px;
}
.id{
    color: rgb(166, 165, 165);
}
.song_info{
    width: 40%;
}
.name{
    color: white !important;
    opacity: 1;
}
.singer{
    color: rgb(166, 165, 165);
    font-size: small;
}
.album{
    position: relative;
    left: 45px;
    color: rgb(166, 165, 165);
}